*
{
	padding: 0;
	margin: 0;
}

body
{
	background:;
}
.container
{

	float: center;
	width: 350px;
	height: 300px;
	padding:15px;
	margin:220px 650px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
	background:powderblue;
	border-color: red;
}
.in-center
{
}
input
{
	padding: 10px;
	width:75%;
	box-shadow: 10px 0 10px 0 ;
	border-radius: 24px;
	text-align: center;
	border:0;

}

input[type=button]{
	
	background-color: #ffff99;
}
input[type=button]:hover{
	background-color: #99ff66;
	cursor:pointer;
}

input[type=text]:focus,input[type=password]:focus
{
	width: 280px;
	border-color: red;
	border-radius:25px;
	border:0;

}
input[type=text],input[type=password]
{
	transition: 0.5s;
	border-color: 24px;
	border-radius: 24px;
}
h2
{
	background-color: #ff9900;
	border-radius: 10px;
	color: #fff;
	font-size: 40px;
	font-family: sans-serif;
}